$icomoon-font-path: "fonts" !default;

$icon-no-data: "\e909";
$icon-couple: "\e908";
$icon-man: "\e900";
$icon-woman: "\e901";
$icon-user: "\e902";
$icon-arrow-up: "\e903";
$icon-arrow-down: "\e904";
$icon-triangle-up: "\e905";
$icon-triangle-down: "\e906";
$icon-more: "\e907";

